<div class="detailsContainer">

  <div class="teamDetails">
    <h2>{{team.name | uppercase}} Details</h2>
  </div>

  <div class="formDetails">
    <ng-container *ngIf="team">
      <h2>Editar</h2>
      <div>Id:{{team.id}}</div>
    </ng-container>
    <!-- <ng-template #criar>
        <h2>Criar</h2>
    </ng-template> -->
    <div>Nome<input [(ngModel)]="team.name" placeholder="Nome" /></div>
    <div>Jogos<input [(ngModel)]="team.matchesPlayed" placeholder="Jogos" /></div>
    <div>Vitórias<input [(ngModel)]="team.matchesWon" placeholder="Vitórias" /></div>
    <div>Derrotas<input [(ngModel)]="team.matchesLost" placeholder="Derrotas" /></div>
    <div>Treinador<input [(ngModel)]="team.coach" placeholder="Treinador" /></div>
    <button (click)="save()">save</button>
  </div>

</div>
<button (click)="goBack()">go back</button>
